<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reflect</title>
        <link rel="stylesheet" type="text/css" href="https://reflect-forum.herokuapp.com/resources/css/conversation.css">
    </head>
    <body>
        <nav>
            <div class="navleft">	
                <a href="/"><h3>Reflect</h3></a>
            </div>
        <div class="navright">	
            <a href="/forums"><h3>Community</h3></a>
            <div class="drop-down">
                <h3><a href="">Account</a></h3>
                <div class="drop-down-content">
                {{#if obj.isLoggedIn}}
                <h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
                <h3><a href="/logout">Logout</a></h3>
                {{else}}
                <a href="/login" class="login"><button class="button user">Login</button></a>
                {{/if}}
                </div>
            </div>
        </div>
        </nav>
        <main>
            <div class="background"></div>               
            <h1 class="main-header">Forums</h1>
            <div class="top-bar">
                <div class="site-location">
                    <h3>Conversations </h3>
                </div>
                <div class="search">
                    <form action="" method="POST">
                        <input class="search-input" type="text" placeholder=" Search...." name="search">
                        <button class="search-button" type="submit">SEARCH</button>
                    </form>
                </div>			
            </div>
            <div class="column-container">              
                {{#each obj.view}}               
                <div class="post-container">
                    <div class="image-container">
                        <img src="{{this.photo}}" class="user-photo">
                    </div>                      
                    <div class="post">
                        <h4><a href="/user-{{this.name}}" class="post-user posts{{@index}}" data-id="{{@last}}">{{this.name}}</a></h4>                      
                        {{!-- putting everything in a pre tage will make all the spaces register.
                        It doesn't retain the h4 tag that it's in though still registers anchor tags
                        and any class name but for some reason the size from the hx doesn't stay.--}}
                        <pre><h4 class="content content{{@index}}">{{{this.content}}}</h4></pre>

                        {{!-- The update isn't exactly behaving how I want. Everything updates fine but
                        if you try to press enter or something to create paragraphs it doesn't seem to notice
                        when you update it. also if you press tab it doesn't 5 space the form it just brings your highlite
                        down to the next post. I'm thinking I could maybe write some js that would put a
                        break whenever you hit enter but I'm thinking there's probably something built int
                        that does that. also I'd have to remove it everytime you go up a line.
                        also I need to look up how to take of the adjustable size for the text area--}}                     
                    </div>
                </div>
                {{/each}} 
            <form action="" method="PUT" class="add-post add-post{{@index}}" data-id="{{this.id}}">
                <textarea id="post-text{{@index}}" class="post-text{{@index}} post-text" type="text" placeholder="" name="search" cols="50" rows="10"></textarea> <br>
                {{!-- <pre><div  contenteditable="" class="update-text{{@index}} update-text"></div></pre> --}}
                <h4 class="add-button{{@index}} add-button">Add post</h4>
              
            </form>                             
            </div>
            <div class="page-container">
                {{#each obj.pageArray}}
                <h4 class="pages"><a href="/conversation/{{../obj.conversationName}}-{{../obj.conversationId}}_pg{{this}}">{{this}}</a></h4>
                {{/each}}
            </div>          
        </main>  
      <script src="http://localhost:5000/resources/js/conversation.js"></script>       
    </body>
</html>