<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Reflect</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/style-community.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div class="navleft">	
			<a href="/"><h3>Reflect</h3></a>
		</div>
        <div class="navright">	
            <a href="/forums"><h3>Community</h3></a>
            <div class="drop-down">
                <h3><a href="">Account</a></h3>
                <div class="drop-down-content">
                {{#if obj.isLoggedIn}}
                <h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
                <h3><a href="/logout">Logout</a></h3>
				{{else}}
                <a href="/login" class="login"><button class="button">Login</button></a>
                {{/if}}
                </div>
            </div>
        </div>
		<div class="navrightmobile">
			<input type="checkbox" id="demo"/>
			<label for="demo"> 
				<h3>Menu</h3>
				<div class="drop-down-mobile">
					<div class="drop-down-content-mobile">
						{{#if obj.isLoggedIn}}
						<h3>Community Home</h3>
						<h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
						<h3><a href="/logout">Logout</a></h3>
						{{else}}
						<h3>Community Home</h3>
						<a href="/login" class="login"><h3>Login</h3></a>
						{{/if}}
					</div>
				</div>
			</label>
		</div>	
	</nav>
	<main>
		<div class="background"></div>
			<div class="main-container">	
				<h1 class="main-header">Forums</h1>
				<div class="top-bar">
					<div class="site-location">	
						<h3 class=""><a href="/forums">Home</a></h3>								
					</div>
				</div>
				<div class="column-container">
					<div class="general column">
						<h1 class="column-header">General</h1>
						<div class="camping column-block">
							<h2 class="forum camping"><a href="/forums/camping_pg1">Camping</a></h2>
							<h4 class="top-thread"><a href="/forums/camping/{{obj.recentthreads.camping.titleReplace}}-{{obj.recentthreads.camping.id}}_pg1">{{obj.recentthreads.camping.title}}</a></h4>
						</div>
						<div class="hikin column-block">
							<h2 class="forum hiking"><a href="/forums/hiking_pg1">Hiking</a></h2>
							<h4 class="top-thread"><a href="/forums/hiking/{{obj.recentthreads.hiking.titleReplace}}-{{obj.recentthreads.hiking.id}}_pg1">{{obj.recentthreads.hiking.title}}</a></h4>
						</div>
						<div class="backpacking column-block">
							<h2 class="forum"><a href="/forums/backpacking_pg1">Backpacking</a></h2>
							<h4 class="top-thread"><a href="/forums/backpacking/{{obj.recentthreads.backpacking.titleReplace}}-{{obj.recentthreads.backpacking.id}}_pg1">{{obj.recentthreads.backpacking.title}}</a></h4>
						</div>
					</div>
					<div class="wildlife column">
						<h1 class="column-header">Wildlife</h1>
						<div class="fish column-block">
							<h2 class="forum"><a href="/forums/fish_pg1">Fish</a></h2>
							<h4 class="top-thread fish-thread"><a href="/forums/fish/{{obj.recentthreads.fish.titleReplace}}-{{obj.recentthreads.fish.id}}_pg1">{{obj.recentthreads.fish.title}}</a></h4>
						</div>
						<div class="mammals column-block">
							<h2 class="forum"><a href="/forums/mammals_pg1">Mammals</a></h2>
							<h4 class="top-thread"><a href="/forums/mammals/{{obj.recentthreads.mammals.titleReplace}}-{{obj.recentthreads.mammals.id}}_pg1">{{obj.recentthreads.mammals.title}}</a></h4>
						</div>
						<div class="reptiles column-block">
							<h2 class="forum"><a href="/forums/reptiles_pg1">Reptiles</a></h2>
							<h4 class="top-thread"><a href="/forums/reptiles/{{obj.recentthreads.reptiles.titleReplace}}-{{obj.recentthreads.reptiles.id}}_pg1">{{obj.recentthreads.reptiles.title}}</a></h4>
						</div>
					</div>
					<div class="environment column">
						<h1 class="column-header">Plants</h1>
						<div class="column-block trees">
							<h2 class="forum"><a href="/forums/trees_pg1">Trees</a></h2>
							<h4 class="top-thread"><a href="/forums/trees/{{obj.recentthreads.trees.titleReplace}}-{{obj.recentthreads.trees.id}}_pg1">{{obj.recentthreads.trees.title}}</a></h4>
						</div>
						<div class="column-block vegitation">
							<h2 class="forum"><a href="/forums/vegitation_pg1">Vegitation</a></h2>	
							<h4 class="top-thread"><a href="/forums/vegitation/{{obj.recentthreads.vegitation.titleReplace}}-{{obj.recentthreads.vegitation.id}}_pg1">{{obj.recentthreads.vegitation.title}}</a></h4>			
						</div>
						<div class="column-block flowers">
							<h2 class="forum"><a href="/forums/flowers_pg1">Flowers</a></h2>
							<h4 class="top-thread"><a href="/forums/flowers/{{obj.recentthreads.flowers.titleReplace}}-{{obj.recentthreads.flowers.id}}_pg1">{{obj.recentthreads.flowers.title}}</a></h4>			
						</div>
						<div class="column-block mushrooms">
							<h2 class="forum"><a href="/forums/mushrooms_pg1">Mushrooms</a></h2>
							<h4 class="top-thread"><a href="/forums/mushrooms/{{obj.recentthreads.mushrooms.titleReplace}}-{{obj.recentthreads.mushrooms.id}}_pg1">{{obj.recentthreads.mushrooms.title}}</a></h4>
						</div>
					</div>
				</div>
			</div>		
	</main>
</body>
</html>