<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Reflect</title>
        <link rel="stylesheet" type="text/css" href="../../resources/css/posts.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">   
    </head>
    <body>
        <nav>
            <div class="navleft">	
                <a href="/"><h3>Reflect</h3></a>
            </div>
        <div class="navright">	
            <a href="/forums"><h3>Community</h3></a>
            <div class="drop-down">
                <h3><a href="">Account</a></h3>
                <div class="drop-down-content">
                {{#if obj.isLoggedIn}}
                <h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
                <h3><a href="/logout">Logout</a></h3>
                {{else}}
                <a href="/login" class="login"><button class="button user">Login</button></a>
                {{/if}}
                </div>
            </div>
        </div>
        <div class="navrightmobile">
			<input type="checkbox" id="demo"/>
			<label for="demo"> 
				<h3>Menu</h3>
				<div class="drop-down-mobile">
					<div class="drop-down-content-mobile">
						{{#if obj.isLoggedIn}}
						<a href="/forums"><h3>Community Home</h3></a>
						<h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
						<h3><a href="/logout">Logout</a></h3>
						{{else}}
						<a href="/forums"><h3>Community Home</h3></a>
						<a href="/login" class="login"><h3>Login</h3></a>
						{{/if}}
					</div>
				</div>
			</label>
		</div>
        </nav>
        <main>
            <div class="background"></div>               
            <h1 class="main-header">Forums</h1>
            <div class="top-bar">
                <div class="site-location">
                    <h3><a href="/forums">Home</a> > <a href="/forums/threads" class="forum"></a> > <a class="thread-name"></a></h3>
                </div>		
            </div>
            <div class="column-container">
                <h3><a class="new-post">Add a post</a></h3>               
                {{#each obj.view}}               
                <div class="post-container">
                    <div class="image-container">
                        <img src="{{this.photo}}" class="user-photo">
                    </div>                      
                    <div class="post">
                        <h4><a href="/user-{{this.name}}" class="post-user posts{{@index}}" data-id="{{@last}}">{{this.name}}</a></h4>                      
                        <pre><h4 class="content content{{@index}}">{{{this.content}}}</h4></pre>
                        {{#if this.match}}
                        <h5 class="update-post update-post{{@index}}">Update</h5>                    
                        {{/if}}
                        <form method="PUT" class="update-form update-form{{@index}}" data-id="{{this.id}}">
                            <textarea id="update-text{{@index}}" class="update-text{{@index}} update-text" type="text" placeholder="" name="search" cols="50" rows="10"></textarea> <br>
                            <h4 class="update-button{{@index}} update-button">Update</h4>
                            <h4 class="update-cancel{{@index}} update-cancel">Cancel</h4>
                        </form>                          
                    </div>
                </div>
                {{/each}}                              
            </div>
            <div class="page-container">
                {{#each obj.pageArray}}
                <h4 class="pages"><a href="/forums/{{@root.obj.category}}/{{../obj.threadName}}-{{../obj.threadId}}_pg{{this}}">{{this}}</a></h4>
                {{/each}}
            </div>          
        </main>  
        <script src="../../resources/js/posts.js"></script>    
    </body>
</html>