<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reflect</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:5000/resources/css/threads.css">         
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">     
</head>
<body>
    <nav>
        <div class="navleft">	
            <a href="/"><h3>Reflect</h3></a>
        </div>
        <div class="navright">	
            <a href="/forums"><h3>Community</h3></a>
            <div class="drop-down">
                <h3><a href="">Account</a></h3>
                <div class="drop-down-content">
                {{#if obj.isLoggedIn}}
                <h3><a href="/user-{{obj.person}}" class="user">{{obj.person}}</a></h3>
                {{else}}
                <a href="/login" class="login"><button class="button">Login</button></a>
                {{/if}}
                </div>
            </div>
        </div>	
    </nav>
    <main>
        <div class="background"></div>               
        <h1 class="main-header">Forums</h1>
        <div class="top-bar">
            <div class="site-location">
                <h3 class=""><a href="/forums">Home</a> > <span class="forumNav">{{forum}}</span> > All</h3>
            </div>
            <div class="search">
                <form action="" method="POST">
                    <input class="search-input" type="text" placeholder=" Search...." name="search">
                    <button class="search-button" type="submit">SEARCH</button>
                </form>
            </div>			
        </div>
        <div class="column-container">  
            <h3 class="new-thread"><a href="" data-id="0" class="newthread">New Thread</a></h3>  
            <div class="threads">                       
                <h2 class="thread"><a href="" data-id="0" class="thread1">Introduce yourself</a></h2>
            </div>         
            {{!-- <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.one}}" href="">{{obj.thread.one}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.one}}">{{obj.user.one}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.two}}">{{obj.thread.two}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.two}}">{{obj.user.two}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.three}}">{{obj.thread.three}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.three}}">{{obj.user.three}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.four}}">{{obj.thread.four}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.four}}">{{obj.user.four}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.five}}">{{obj.thread.five}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.five}}">{{obj.user.five}}</a></h4>
            </div> 
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.six}}">{{obj.thread.six}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.six}}">{{obj.user.six}}</a></h4>
            </div> 
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.seven}}">{{obj.thread.seven}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.seven}}">{{obj.user.seven}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.eigth}}">{{obj.thread.eight}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.eight}}">{{obj.user.eight}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.nine}}">{{obj.thread.nine}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.nine}}">{{obj.user.nine}}</a></h4>
            </div>
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{obj.url.ten}}">{{obj.thread.ten}}</a></h2> 
                <h4 class="user"><a href="/user-{{obj.user.ten}}">{{obj.user.ten}}</a></h4>
            </div>                                                             --}}
            {{#each obj.view}}
            <div class="threads">
                <h2 class="thread"><a class="thread" data-id="{{this.id}}">{{this.thread}}</a></h2> 
                <h4 class="user"><a href="/user-{{this.user}}">{{this.user}}</a></h4>
            </div>
            {{/each}}
        </div>    
        <div class="page-container">
            {{#each obj.pageArray}}
            <h4 class="pages"><a href="/forums/{{obj.category}}_pg{{this}}">{{this}}</a></h4>
            {{/each}}
        </div>   
    </main> 
    <script  src="http://localhost:5000/resources/js/threads.js"></script> 
            
</body>  
</html>