<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Reflect</title>
	<link rel="stylesheet" type="text/css" href="/resources/css/user-page.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
</head>
<body>
	<main>
		<div class="background"></div>		
        <div class="username">
            <img src="{{obj.photo}}" class="user-photo">
			<h1>{{obj.person}}</h1>			
		</div>
		{{#if obj.userMatch}}
		<div class="info">
			<h2 class="bio">Bio:</h2>
			<div class="bio-form">			
				<textarea class="bio-input" rows="5" cols="60"></textarea> <br>
				<h3 class="bio-button"><a>Update</a></h3>
				<h3 class="bio-cancel"><a>Cancel</a></h3>		
			</div>
			<h3 class="bio-text">{{obj.bio}}</h3>
			<h4><a class="update-bio">Update bio</a></h4>
			<h2>Images:</h2>
			<div class="image-enlarge">
				<h2 ><a class="exit">x</a></h2>
				<img class="enlarged-image">
				<h3 ><a class="set-picture">Set profile picture</a></h3>
			</div>
			<div class="img-container">
			{{#each obj.photos}}
			<img src="{{this.thumb}}" data-full="{{this.full}}" data-width="{{this.width}}" class="photos">
			{{/each}}		
			</div>
			<h4><a  class="update-picture">add pictures<a></h4>
			<div class="photo-form">
				<input type="file" class="photo-input" accept="image/png, image/jpeg"><br>
				<h3 class="photo-upload"><a>Upload</a></h3>
				<h3 class="photo-cancel"><a>Cancel</a></h3>
			</div>
			<div class="message-container">
				<div class="header-container">
					<h3 class="header-words">Conversations</h3>
				</div>
				{{#each obj.conversation}}
				<div class="content-container">
					<img class="comment-picture" src="{{this.photo}}">
					<div class="title-info">
						<h3 ><a href="/conversation/{{this.url}}-{{this.id}}_pg1">{{this.title}}</a></h3>
						<h4 class="conversation-users"><a href="user-{{this.user1}}">{{this.user1}}</a>, <a href="user-{{this.user2}}">{{this.user2}}</a></h4>
					</div>
					<div class="other-info">
						<h3>Replies: {{this.replies}}</h3>
						<h4><a href="/user-{{this.replyUser}}">{{this.replyUser}}</a> {{this.replyDate}}</h4>
					</div>					
				</div>
				{{/each}}
			</div>
			<h3 class="start">Start a conversation</h3>
			<form>
				<input class="user" type="text" placeholder="users name">
				<input class="title" type="text" placeholder="subject"> <br>
				<textarea  name="message" type="text" class="message" rows="10" cols="50"></textarea>
				<h3 class="submit"><a href="/new-conversation">Create</a></h3>
			</form>
		</div>
		{{else}}
		<div class="info">
			<h2>bio:</h2>
			<h3 class="bio-text">{{obj.bio}}</h3>		
			<h2>add pictures:</h2>
			<h2>Images:</h2>
			<div class="image-enlarge">
				<h2 ><a class="exit">x</a></h2>
				<img class="enlarged-image">
			</div>
			<div class="img-container">
			{{#each obj.photos}}
			<img src="{{this}}" class="photos">
			{{/each}}
		</div>
		{{/if}}
	</main>
	{{#if obj.userMatch}}
	<script src="../resources/js/user-page.js"></script> 
	{{else}}
	<script></script>
	{{/if}}
</body>
</html>